

.parallax-home {
    background-image: url("../images/Me.jpg");
    height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .6;
}
#projects {
width:80%;
    margin-right: auto;
    margin-left: auto;
    max-width: 935px;
}

#projects img {
    width:100%;
    height: 100%;
    max-height:900px;

}

#home-box {
    height: 900px; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;

    background: transparent;
    color:white;
}

#projects-text {
    text-align: center;
    color: black;
}
.parallax-resume {
    background-image: url("../images/forest.jpg");
    height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .6;
}
.background-general {
    background-color: ghostwhite;
}